* {
  font-family: Monaco;
  background-color: peachpuff;
}

.singleRobot {
  flex-grow: 1;
  flex-basis: 200px;
  border: 1px solid;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.allRobots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.robotsButton {
  background-color: blueviolet;
  color: peachpuff;
  font-size: 14px;
}
