* {
  font-family: Monaco;
  background-color: peachpuff;
}

.singleRobot {
  flex-grow: 1;
  width: 30%;
  max-width: 40%;
  border: 1px solid;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.allRobots {
  display: flex;
  flex-wrap: wrap;
}

.robotsButton {
  background-color: blueviolet;
  color: peachpuff;
  font-size: 14px;
}
